@media(max-width:1024px)
{
    .Containar
    {
        width: 80%;
        margin: auto;
         display: flex; 
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .Containar img
    {
        height: 300px;
        width: 32%;
        margin-top: 20px;
    }
}

@media(max-width:767px)
{
    .Containar
    {
        width: 90%;
        margin: auto;
         display: flex; 
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .Containar img
    {
        height: 300px;
        width: 47%;
        margin-top: 20px;
    }
}

@media(max-width:480px)
{
    .Containar
    {
        width: 90%;
        margin: auto;
         display: flex; 
         flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .Containar img
    {
        height: 300px;
        width: 100%;
        margin-top: 20px;
    }
}