@media(max-width:1200px)
{

nav
{
    height: 80px;
    width: 100%;
    background-color: whitesmoke;
}
.navbar
{
    margin: auto;
    height: 80px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo
{ 
    height: 80px;
    width: 10%;
}
.logo img
{ 
    margin: 10px;
    margin-left: 25px;
    height: 60px;
    width: 70%;
}
.menu ul
{
    display: flex;
    list-style: none;
}
.menu ul li
{
    margin: 20px;
}
.menu ul li a
{
     text-decoration: none;
     color: black;
}
a ul
{ 
   visibility: hidden;
}
a ul:hover
{
  visibility: visible;
}
.banner
{
    height: 850px;
    width: 100%;
}
.banner img
{
    height: 850px;
    width: 100%;
}

}

@media(max-width:992px)
{
nav
{
    height: 80px;
    width: 100%;
    background-color: whitesmoke;
}
.navbar
{
    margin: auto;
    height: 80px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo
{ 
    height: 80px;
    width: 10%;
}
.logo img
{ 
    margin: 10px;
    margin-left: 25px;
    height: 60px;
    width: 70%;
}
.menu ul
{
    display: flex;
    list-style: none;
}
.menu ul li
{
    margin: 20px;
}
.menu ul li a
{
     text-decoration: none;
     color: black;
}
a ul
{ 
   visibility: hidden;
}
a ul:hover
{
  visibility: visible;
}
.banner
{
    height: 850px;
    width: 100%;
}
.banner img
{
    height: 850px;
    width: 100%;
}

}

@media(max-width:768px)
{

nav
{
    height: 80px;
    width: 100%;
    background-color: whitesmoke;
}
.navbar
{
    margin: auto;
    height: 80px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo
{ 
    height: 80px;
    width: 10%;
}
.logo img
{ 
    margin: 10px;
    margin-left: 25px;
    height: 60px;
    width: 70%;
}
.menu ul
{
    display: flex;
    list-style: none;
}
.menu ul li
{
    margin: 20px;
}
.menu ul li a
{
     text-decoration: none;
     color: black;
}
a ul
{ 
   visibility: hidden;
}
a ul:hover
{
  visibility: visible;
}
.banner
{
    height: 850px;
    width: 100%;
}
.banner img
{
    height: 850px;
    width: 100%;
}

}

@media(max-width:576px)
{
    
nav
{
    height: 80px;
    width: 100%;
    background-color: whitesmoke;
}
.navbar
{
    margin: auto;
    height: 80px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo
{ 
    height: 80px;
    width: 10%;
}
.logo img
{ 
    margin: 10px;
    margin-left: 25px;
    height: 60px;
    width: 70%;
}
.menu ul
{
    display: flex;
    list-style: none;
}
.menu ul li
{
    margin: 20px;
}
.menu ul li a
{
     text-decoration: none;
     color: black;
}
a ul
{ 
   visibility: hidden;
}
a ul:hover
{
  visibility: visible;
}
.banner
{
    height: 850px;
    width: 100%;
}
.banner img
{
    height: 850px;
    width: 100%;
}

}